<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Test</h1>
<form action="/test/create/new" method="post">
    <label for="description">description</label><br><input id="description" name="description" type="text">
    <br><br>
    <label for="title">title</label><br><input id="title" name="title" type="text">
    <br><br>
    <input type="submit">
    <br><br>
</form>

</body>
</html>